@import "../styles/main.scss";

body {
  background-color: $primary-blue-500;
}
main {
  @include mobile-layout-grid;
  margin-top: $measure40;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  &.mobile {
    margin-left: $measure24;
    margin-right: $measure24;
  }
}

h1 {
  grid-column-start: 1;
  grid-column-end: 9;
  @include font-heading;
}

h2 {
  grid-column-start: 1;
  grid-column-end: 9;
  @include font-subheading-h2;
}

h5 {
  grid-column-start: 1;
  grid-column-end: 9;
  @include font-subheading-h5;
}

a {
  @include font-link;
}
